<!-- standard header -->
<header class="adminuiux-header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- main sidebar toggle -->
            <button class="btn btn-link btn-square sidebar-toggler" type="button" onclick="initSidebar()">
                <i class="sidebar-svg" data-feather="menu"></i>
            </button>
            <!-- logo -->
            <a class="navbar-brand" href="fitness-dashboard-aluno.html">
                <img data-bs-img="light" src="assets/img/logo_med.webp" alt="" />
                <img data-bs-img="dark" src="assets/img/logo_white.webp" alt="" />
            </a>
            <!-- right icons button -->
            <div class="ms-auto">
                <!-- dark mode -->
                <button class="btn btn-link btn-square btnsunmoon btn-link-header" id="btn-layout-modes-dark-page">
                    <i class="sun mx-auto" data-feather="sun"></i>
                    <i class="moon mx-auto" data-feather="moon"></i>
                </button>
                <!-- notification dropdown -->
                <div class="dropdown d-inline-block">
                    <button
                        class="btn btn-link btn-square btn-icon btn-link-header dropdown-toggle no-caret"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i data-feather="bell"></i>
                        <span class="position-absolute top-0 end-0 badge rounded-pill bg-danger p-1">
                            <small>9+</small>
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end notification-dd">
                        <!-- Conteúdo do dropdown mantido igual -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
