<!-- standard header -->
<header class="adminuiux-header">
    <!-- Fixed navbar -->
    <nav class="navbar">
        <div class="container-fluid">
            <!-- logo -->
            <a class="navbar-brand" href="fitness-dashboard.html">
                <img data-bs-img="light" src="assets/img/logo-light.svg" alt="">
                <img data-bs-img="dark" src="assets/img/logo.svg" alt="">
                <div class="d-block mx-2">
                    <span class="h4">Fitness<span class="fw-bold">UI</span><span>UX</span></span>
                    <p class="company-tagline">Mobile HTML template</p>
                </div>
            </a>
            <div class=" ms-auto "></div>
            <!-- right icons button -->
            <div class="ms-auto">
            </div>
        </div>
    </nav>
</header>