<footer class="adminuiux-mobile-footer hide-on-scrolldown style-1">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="fitness-dashboard-aluno.html">
                    <span>
                        <i class="nav-icon bi bi-columns-gap"></i>
                        <span class="nav-text">Home</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="fitness-laudos.html">
                    <span>
                        <i class="nav-icon bi bi-file-medical"></i>
                        <span class="nav-text">Laudos</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="fitness-diet.html" class="nav-link ">
                    <span>
                        <i class="nav-icon bi bi-search"></i>
                        <span class="nav-text">Especialistas</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="fitness-report.html">
                    <span>
                        <i class="nav-icon bi bi-graph-up-arrow"></i>
                        <span class="nav-text">Report</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="fitness-profile.html">
                    <span>
                        <figure class="avatar avatar-20 rounded-circle coverimg align-middle mb-2">
                            <img src="assets/img/fitness/image-6.jpg" alt="">
                        </figure><br>
                        <span class="nav-text">Profile</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>