<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->
<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac roundedui adminuiux-header-standard adminuiux-sidebar-standard theme-orange adminuiux-header-transparent adminuiux-sidebar-fill-theme bg-white scrollup" data-theme="theme-orange" data-sidebarfill="adminuiux-sidebar-fill-theme" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" data-sidebarlayout="adminuiux-sidebar-standard" data-headerlayout="adminuiux-header-standard" data-headerfill="adminuiux-header-transparent">
        <!-- page loader -->
        <%= require('../partials/pageloader/fitness-pageloader.html').default %> <!-- main content -->
            <main class="flex-shrink-0 pt-0 h-100">
                <div class="container-fluid">
                    <div class="auth-wrapper d-flex flex-column minvheight-100">
                        <!--Page body-->
                        <!-- standard header -->
                        <%= require('../partials/header/fitness-auth-header-back.html').default %> <!-- login wrap -->
                            <div class="row align-items-center justify-content-center py-4 mt-auto">
                                <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
                                    <div class="mb-4">
                                        <h2 class="text-theme-accent-1 mb-0">Sorry! you have to be here</h2>
                                        <h1 class="text-theme-1">Reset your password</h1>
                                        <p class="text-secondary">Provide your registered email address, we will send you an email with change password link with steps.</p>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="emailadd" placeholder="Enter email address" value="info@adminuiux" autofocus="">
                                        <label for="emailadd">Email Address</label>
                                    </div>
                                    <a href="fitness-change-password.html" class="btn btn-lg btn-theme w-100 mb-4">Reset Now</a>
                                    <!-- <button class="btn btn-lg btn-theme w-100 mb-4">Login</button> -->
                                    <br>
                                </div>
                            </div>
                            <!-- standard footer -->
                            <%= require('../partials/footer/fitness-auth-footer.html').default %>
                    </div>
                </div>
            </main>
            <!-- Page Level js -->
            <script src="assets/js/fitness/fitness-auth.js"></script>
    </body>

</html>