<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->
<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac roundedui adminuiux-header-standard adminuiux-sidebar-standard theme-orange adminuiux-header-transparent adminuiux-sidebar-fill-theme bg-white scrollup" data-theme="theme-orange" data-sidebarfill="adminuiux-sidebar-fill-theme" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" data-sidebarlayout="adminuiux-sidebar-standard" data-headerlayout="adminuiux-header-standard" data-headerfill="adminuiux-header-transparent">
        <!-- page loader -->
        <%= require('../partials/pageloader/fitness-pageloader.html').default %> <!-- main content -->
            <main class="flex-shrink-0 pt-0 h-100">
                <div class="container-fluid">
                    <div class="auth-wrapper d-flex flex-column minvheight-100">
                        <!--Page body-->
                        <!-- standard header -->
                        <%= require('../partials/header/fitness-auth-header-back.html').default %> <!-- login wrap -->
                            <div class="row align-items-center justify-content-center py-4 mt-auto">
                                <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
                                    <div class="mb-4">
                                        <h2 class="text-theme-accent-1 mb-0">Thats great step!</h2>
                                        <h1 class="fw-bold text-theme-1">Just one step away</h1>
                                        <p class="text-secondary">Provide you new password and confirm password here and you're all set to go and use Adminuiux template preview.</p>
                                    </div>
                                    <div class="position-relative">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="checkstrength" placeholder="Enter your new password">
                                            <label for="checkstrength">New Password</label>
                                        </div>
                                        <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2 ">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                    </div>
                                    <div class="feedback mb-3 px-3">
                                        <div class="row">
                                            <div class="col">
                                                <div class="check-strength" id="checksterngthdisplay">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <span class="small" id="textpassword"></span>
                                                <i class="bi bi-info-circle text-theme ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Password should contain atleast 1 capital, 1 alphanumeric & min. 8 characters"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="position-relative">
                                        <div class="form-floating mb-4">
                                            <input type="password" class="form-control" id="passwdconfirm" placeholder="Confirm your new password">
                                            <label for="passwdconfirm">Confirm Password</label>
                                        </div>
                                        <button class="btn btn-square btn-link text-theme-1 position-absolute end-0 top-0 mt-2 me-2 ">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                    </div>
                                    <a href="fitness-login.html" class="btn btn-lg btn-theme w-100 mb-4">Change Now</a>
                                    <!-- <button class="btn btn-lg btn-theme w-100 mb-4">Change Now</button> -->
                                    <br>
                                </div>
                            </div>
                            <!-- standard footer -->
                            <%= require('../partials/footer/fitness-auth-footer.html').default %>
                    </div>
                </div>
            </main>
            <%= require('../partials/offcanvas/theming.html').default %> <!-- Page Level js -->
                <script src="assets/js/fitness/fitness-auth.js"></script>
    </body>

</html>