<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->
<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac roundedui adminuiux-header-standard adminuiux-sidebar-standard theme-orange adminuiux-header-transparent adminuiux-sidebar-fill-theme bg-white scrollup" data-theme="theme-orange" data-sidebarfill="adminuiux-sidebar-fill-theme" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" data-sidebarlayout="adminuiux-sidebar-standard" data-headerlayout="adminuiux-header-standard" data-headerfill="adminuiux-header-transparent">
        <%= require('../partials/pageloader/fitness-pageloader.html').default %>
            <!-- back button header with title -->
            <%= require('../partials/header/fitness-header-back.html').default %>
                <div id="title" class="d-none">
                    <%= htmlWebpackPlugin.options.title %>
                </div>
                <div class="adminuiux-wrap">
                    <!-- Standard sidebar -->
                    <main class="adminuiux-content" onclick="contentClick()">
                        <!-- content -->
                        <div class="container mt-3" id="main-content">

                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3">
                                    <figure class="coverimg w-100 height-240 rounded overflow-hidden mb-3">
                                        <img src="assets/img/fitness/image-5.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body position-relative z-index-1">
                                            <h1 class="text-theme-1 mb-3">Achieve Your Goals Without Stepping Foot in a Gym.</h1>
                                            <p class="text-secondary mb-3">We are here to help you to achieve your goal plans for fitness. Our online trainers will guide you and support you. </p>
                                            <a href="fitness-pages.html" class="btn btn-sm btn-theme me-1">View Pages <i class="bi bi-arrow-right-short"></i></a>
                                            <button class="btn btn-sm btn-outline-theme me-1"><i class="bi bi-play me-1"></i>Watch Video</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fitness clubs -->
                            <div class="row mb-3">
                                <div class="col">
                                    <h6>Popular Fitness Club</h6>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row gx-3">
                                                <div class="col-4 mb-3">
                                                    <figure class="w-100 height-110 rounded coverimg">
                                                        <img src="assets/img/fitness/image-3.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="col-8 mb-3">
                                                    <div class="row gx-3 align-items-center mb-2">
                                                        <div class="col">
                                                            <p><span class="badge badge-sm badge-light text-bg-theme-1 theme-orange"><i class="bi bi-star"></i> Intermediate</span></p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button class="btn btn-sm btn-square btn-link theme-red"><i class="bi bi-heart"></i></button>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-truncated">Barcalona Fitness Center</h6>
                                                    <p class="small text-secondary">A625, 3 The Rushes, Indiana LE11 1UQ, UK</p>
                                                </div>
                                            </div>
                                            <div class="row gx-3 align-items-center">
                                                <div class="col">
                                                    <p class="text-theme-1 theme-yellow">
                                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                                        <br><small class="text-secondary">5 (1531 Ratings)</small>
                                                    </p>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="fitness-club.html" class="btn btn-sm btn-link">View <i class="bi bi-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row gx-3">
                                                <div class="col-4 mb-3">
                                                    <figure class="w-100 height-110 rounded coverimg">
                                                        <img src="assets/img/fitness/image-4.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="col-8 mb-3">
                                                    <div class="row gx-3 align-items-center mb-2">
                                                        <div class="col">
                                                            <p><span class="badge badge-sm badge-light text-bg-theme-1 theme-cyan"><i class="bi bi-patch-check-fill"></i> Pro Trainer</span></p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button class="btn btn-sm btn-square btn-link theme-red"><i class="bi bi-heart-fill"></i></button>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-truncated">BYDW Gym</h6>
                                                    <p class="small text-secondary">A625, 3 The Rushes, Lough borough LE11 1UQ, UK</p>
                                                </div>
                                            </div>
                                            <div class="row gx-3 align-items-center">
                                                <div class="col">
                                                    <p class="text-theme-1 theme-yellow">
                                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                                        <br><small class="text-secondary">4.5 (288 Ratings)</small>
                                                    </p>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="fitness-club.html" class="btn btn-sm btn-link">View <i class="bi bi-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row gx-3">
                                                <div class="col-4 mb-3">
                                                    <figure class="w-100 height-110 rounded coverimg">
                                                        <img src="assets/img/fitness/image-8.jpg" alt="">
                                                    </figure>
                                                </div>
                                                <div class="col-8 mb-3">
                                                    <div class="row gx-3 align-items-center mb-2">
                                                        <div class="col">
                                                            <p><span class="badge badge-sm badge-light text-bg-theme-1 theme-cyan"><i class="bi bi-patch-check-fill"></i> Pro Trainer</span></p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button class="btn btn-sm btn-square btn-link theme-red"><i class="bi bi-heart-fill"></i></button>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-truncated">Tridents Fitness Center</h6>
                                                    <p class="small text-secondary">B5569, 3 The Rushes, Lough borough LE11 1UQ, US</p>
                                                </div>
                                            </div>
                                            <div class="row gx-3 align-items-center">
                                                <div class="col">
                                                    <p class="text-theme-1 theme-yellow">
                                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                                        <br><small class="text-secondary">4.5 (288 Ratings)</small>
                                                    </p>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="fitness-club.html" class="btn btn-sm btn-link">View <i class="bi bi-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- vision and mission -->
                            <div class="row gx-3 align-items-center mb-3">
                                <div class="col text-center py-3">
                                    <h4>We drive with trend for our <span class="text-theme-1">customers</span> who are fitness lover</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <i class="bi bi-bullseye h4 avatar avatar-40 bg-theme-1-subtle text-theme-1 rounded-circle mb-3"></i>
                                            <h5 class="mb-2 mb-md-3">Our Mission</h5>
                                            <p class="small text-secondary">Our mission is to provide great UI UX design with flexibility of development at the reliable cost. This will give you best by saving time and money. So, for our customer its all about the Win Win situation.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <i class="bi bi-window-stack h4 avatar avatar-40 bg-theme-1-subtle text-theme-1 rounded-circle mb-3"></i>
                                            <h5 class="mb-2 mb-md-3">What we do</h5>
                                            <p class="small text-secondary">We do best creative and usable digital products for web and mobile devices, website and universal app development. We create unique, user centric, experience design and creative HTML templates.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <i class="bi bi-cash-stack h4 avatar avatar-40 bg-theme-1-subtle text-theme-1 rounded-circle mb-3"></i>
                                            <h5 class="mb-2 mb-md-3">What you get</h5>
                                            <p class="small text-secondary">Using ready-to-use HTML templates can be a great way to save time & money when building a website. Templates created by professionals, ensuring a high-quality and visually appealing layout.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- fitness workouts -->
                            <div class="row mb-3">
                                <div class="col">
                                    <h6>Popular Workouts</h6>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                            <div class="swiper swipernav mb-3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-gradient-7">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">Complete Morning Yoga Session</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 20 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 250 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-7.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-gradient-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">Workout for belly fat reduce</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 22 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 185 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-8.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-r-gradient">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">The great evening Yoga Session</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 18 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 120 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-3.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-gradient-10">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">Routine Exercise for Legs</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 30 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 300 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-4.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-gradient-6">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">Complete Morning Yoga Session</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 35 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 220 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-5.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </main>
                </div>
                <!-- page footer -->
                <%= require('../partials/footer/fitness-footer.html').default %>
                    <%= require('../partials/offcanvas/theming.html').default %>

                        <!-- Page Level js -->
    </body>

</html>