<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->
<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac roundedui adminuiux-header-standard adminuiux-sidebar-standard theme-orange adminuiux-header-transparent adminuiux-sidebar-fill-theme bg-white scrollup" data-theme="theme-orange" data-sidebarfill="adminuiux-sidebar-fill-theme" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" data-sidebarlayout="adminuiux-sidebar-standard" data-headerlayout="adminuiux-header-standard" data-headerfill="adminuiux-header-transparent">
        <%= require('../partials/pageloader/fitness-pageloader.html').default %>
            <!-- back button header with title -->
            <%= require('../partials/header/fitness-header-back.html').default %>
                <div id="title" class="d-none">
                    <%= htmlWebpackPlugin.options.title %>
                </div>
                <div class="adminuiux-wrap">
                    <!-- Standard sidebar -->
                    <main class="adminuiux-content" onclick="contentClick()">
                        <!-- content -->
                        <div class="container mt-3" id="main-content">
                            <div class="card adminuiux-card height-300 overflow-hidden mb-3">
                                <figure class="h-100 w-100 coverimg overlay-gradiant position-absolute start-0 top-0 z-index-0">
                                    <img src="assets/img/fitness/image-8.jpg" alt="">
                                </figure>
                                <div class="card-body z-index-1"></div>
                                <div class="card-footer z-index-1">
                                    <div class="row gx-3 text-white">
                                        <div class="col-12 mb-3 mt-auto">
                                            <h5>Total Fitness of Body</h5>
                                        </div>
                                        <div class="col-auto">
                                            <h6 class="mb-0">11</h6>
                                            <p>Exercise</p>
                                        </div>
                                        <div class="col-auto">
                                            <h6 class="mb-0">Beginner</h6>
                                            <p>Level</p>
                                        </div>
                                        <div class="col-auto">
                                            <h6 class="mb-0">20</h6>
                                            <p>Minutes</p>
                                        </div>
                                        <div class="col-auto ms-auto">
                                            <button class="btn btn-sm btn-theme"><i class="bi bi-play me-1"></i> Start</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <div class="collapse" id="readmore">
                                <p class="mb-3">Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.</p>
                            </div>
                            <p>
                                <a class="" data-bs-toggle="collapse" href="#readmore" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Read more
                                </a>
                            </p>

                            <!-- workout Sessions -->
                            <div class="row gx-3 align-items-center mb-3">
                                <div class="col">
                                    <h6>Workout Sessions</h6>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Autoplay</label>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group mb-3">
                                <li class="list-group-item">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto">
                                            <figure class="avatar avatar-60 rounded coverimg">
                                                <img src="assets/img/fitness/image-4.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="col">
                                            <p class="mb-0">Begining...</p>
                                            <p class="opacity-75 fs-14 mb-2">
                                                <span class="me-1"><i class="bi bi-clock me-1"></i> 10 min</span>
                                                <span class="me-1"><i class="bi bi-fire me-1"></i> 40 kcal</span>
                                            </p>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-sm btn-square btn-link rounded-circle me-1"><i class="bi bi-check-all"></i></button>
                                            <button class="btn btn-sm btn-square btn-link rounded-circle"><i class="bi bi-play"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item active" aria-current="true">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto">
                                            <figure class="avatar avatar-60 rounded coverimg">
                                                <img src="assets/img/fitness/image-5.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="col">
                                            <h6>Hand moving rounded</h6>
                                            <div class="progress bg-white-opacity height-dynamic mb-1" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--h-dynamic:5px">
                                                <div class="progress-bar bg-white" style="width: 75%"></div>
                                            </div>
                                            <p class="small opacity-75">75%, 5min remaining</p>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-sm btn-square btn-theme rounded-circle me-1"><i class="bi bi-check"></i></button>
                                            <button class="btn btn-sm btn-square btn-theme rounded-circle"><i class="bi bi-pause"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto">
                                            <figure class="avatar avatar-60 rounded coverimg">
                                                <img src="assets/img/fitness/image-7.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="col">
                                            <p class="mb-0">Asana</p>
                                            <p class="opacity-75 fs-14 mb-2">
                                                <span class="me-1"><i class="bi bi-clock me-1"></i> 30 min</span>
                                                <span class="me-1"><i class="bi bi-fire me-1"></i> 320 kcal</span>
                                            </p>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-sm btn-square btn-link rounded-circle me-1"><i class="bi bi-check"></i></button>
                                            <button class="btn btn-sm btn-square btn-link rounded-circle"><i class="bi bi-play"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row gx-3 align-items-center">
                                        <div class="col-auto">
                                            <figure class="avatar avatar-60 rounded coverimg">
                                                <img src="assets/img/fitness/image-2.jpg" alt="">
                                            </figure>
                                        </div>
                                        <div class="col">
                                            <p class="mb-0">Relaxing</p>
                                            <p class="opacity-75 fs-14 mb-2">
                                                <span class="me-1"><i class="bi bi-clock me-1"></i> 15 min</span>
                                                <span class="me-1"><i class="bi bi-fire me-1"></i> 20 kcal</span>
                                            </p>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-sm btn-square btn-link rounded-circle me-1"><i class="bi bi-check"></i></button>
                                            <button class="btn btn-sm btn-square btn-link rounded-circle"><i class="bi bi-play"></i></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <!-- trainers -->
                            <div class="row gx-3 align-items-center mb-3">
                                <div class="col">
                                    <h6>Trainers (2)</h6>
                                </div>
                                <div class="col-auto">
                                    <a href="fitness-club-trainers.html" class="btn btn-sm btn-link">View All<i class="bi bi-chevron-double-right"></i></a>
                                </div>
                            </div>
                            <div class="row gx-3 align-items-center">
                                <div class="col-12 col-lg-6 col-xl-4">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row gx-3 align-items-center">
                                                <div class="col-3">
                                                    <a href="fitness-club-trainer-details.html">
                                                        <figure class="w-100 height-120 rounded coverimg">
                                                            <img src="assets/img/modern-ai-image/user-2.jpg" alt="">
                                                        </figure>
                                                    </a>
                                                </div>
                                                <div class="col-9">
                                                    <div class="row gx-3 align-items-center mb-2">
                                                        <div class="col">
                                                            <p><span class="badge badge-sm badge-light text-bg-theme-1 theme-cyan"><i class="bi bi-patch-check-fill"></i> Pro Trainer</span></p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button class="btn btn-sm btn-square btn-link theme-red"><i class="bi bi-heart"></i></button>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0"><a href="fitness-club-trainer-details.html" class="style-none">Julliet W.</a></p>
                                                    <p class="small text-secondary mb-2">10 years experience, Gym Trainer</p>

                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col">
                                                            <p class="text-theme-1 theme-yellow">
                                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                                                            </p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p class="small text-secondary">25 Reviews</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 col-xl-4">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row gx-3 align-items-center">
                                                <div class="col-3">
                                                    <a href="fitness-club-trainer-details.html" class="style-none">
                                                        <figure class="w-100 height-120 rounded coverimg">
                                                            <img src="assets/img/fitness/image-4.jpg" alt="">
                                                        </figure>
                                                    </a>
                                                </div>
                                                <div class="col-9">
                                                    <div class="row gx-3 align-items-center mb-2">
                                                        <div class="col">
                                                            <p><span class="badge badge-sm badge-light text-bg-theme-1 theme-orange"><i class="bi bi-star"></i> Intermediate</span></p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button class="btn btn-sm btn-square btn-link theme-red"><i class="bi bi-heart"></i></button>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0"><a href="fitness-club-trainer-details.html" class="style-none">Mark X.</a></p>
                                                    <p class="small text-secondary mb-2">2 years experience, Gym Trainer</p>

                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col">
                                                            <p class="text-theme-1 theme-yellow">
                                                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                                                            </p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p class="small text-secondary">5 Reviews</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- track your progress -->
                            <div class="row gx-3 align-items-center mb-3">
                                <div class="col text-center py-3">
                                    <h4>Be more productive and fresh<br>with <span class="text-theme-1">FitnessPRO</span> Excercises</h4>
                                </div>
                            </div>
                            <!-- popular workouts -->
                            <div class="row gx-3 align-items-center mb-3">
                                <div class="col">
                                    <h6>Popular Workout</h6>
                                </div>
                                <div class="col-auto">
                                    <a href="fitness-workout.html" class="btn btn-sm btn-link">View All<i class="bi bi-chevron-double-right"></i></a>
                                </div>
                            </div>

                            <div class="row gx-3">
                                <div class="col-6 col-md-4 col-lg-3 mb-3">
                                    <div class="card adminuiux-card">
                                        <a href="fitness-workout.html" class="rounded coverimg height-150 mb-2 m-1">
                                            <img src="assets/img/fitness/image-1.jpg" alt="">
                                        </a>
                                        <div class="card-body pt-1">
                                            <a href="fitness-workout.html" class="style-none">
                                                <h6 class="text-theme-1 text-truncated mb-2">Total Fitness of body</h6>
                                            </a>
                                            <div class="row gx-2 align-items-center">
                                                <div class="col-auto">
                                                    <figure class="avatar avatar-30 rounded coverimg"><img src="assets/img/modern-ai-image/user-2.jpg" alt=""></figure>
                                                </div>
                                                <div class="col">
                                                    <p class="small mb-0">Chinsuk Wang</p>
                                                    <p class="fs-12 text-secondary">Beginner
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-75"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-50"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-25"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3 mb-3">
                                    <div class="card adminuiux-card">
                                        <a href="fitness-workout.html" class="rounded coverimg height-150 mb-2 m-1">
                                            <img src="assets/img/fitness/image-7.jpg" alt="">
                                        </a>
                                        <div class="card-body pt-1">
                                            <a href="fitness-workout.html" class="style-none">
                                                <h6 class="text-theme-1 text-truncated mb-2">Freeup Legs</h6>
                                            </a>
                                            <div class="row gx-2 align-items-center">
                                                <div class="col-auto">
                                                    <figure class="avatar avatar-30 rounded coverimg"><img src="assets/img/modern-ai-image/user-5.jpg" alt=""></figure>
                                                </div>
                                                <div class="col">
                                                    <p class="small mb-0">Meena T.</p>
                                                    <p class="fs-12 text-secondary theme-green">Expert
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-75"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-50"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3 mb-3">
                                    <div class="card adminuiux-card">
                                        <a href="fitness-workout.html" class="rounded coverimg height-150 mb-2 m-1">
                                            <img src="assets/img/fitness/image-2.jpg" alt="">
                                        </a>
                                        <div class="card-body pt-1">
                                            <a href="fitness-workout.html" class="style-none">
                                                <h6 class="text-theme-1 text-truncated mb-2">Shiny Day Exercise</h6>
                                            </a>
                                            <div class="row gx-2 align-items-center">
                                                <div class="col-auto">
                                                    <figure class="avatar avatar-30 rounded coverimg"><img src="assets/img/modern-ai-image/user-6.jpg" alt=""></figure>
                                                </div>
                                                <div class="col">
                                                    <p class="small mb-0">Tanya K.</p>
                                                    <p class="fs-12 text-secondary">Beginner
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-75"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-50"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-25"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3 mb-3">
                                    <div class="card adminuiux-card">
                                        <a href="fitness-workout.html" class="rounded coverimg height-150 mb-2 m-1">
                                            <img src="assets/img/fitness/image-8.jpg" alt="">
                                        </a>
                                        <div class="card-body pt-1">
                                            <a href="fitness-workout.html" class="style-none">
                                                <h6 class="text-theme-1 text-truncated mb-2">Weist moves in house excercise</h6>
                                            </a>
                                            <div class="row gx-2 align-items-center">
                                                <div class="col-auto">
                                                    <figure class="avatar avatar-30 rounded coverimg"><img src="assets/img/modern-ai-image/user-7.jpg" alt=""></figure>
                                                </div>
                                                <div class="col">
                                                    <p class="small mb-0">Selena G.</p>
                                                    <p class="fs-12 text-secondary theme-yellow">Average
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-75"></span>
                                                        <span class="rounded-circle p-1 bg-theme-1 d-inline-block opacity-50"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- popular exercise -->
                            <div class="row gx-3 align-items-center mb-3">
                                <div class="col">
                                    <h6>Popular Exercise</h6>
                                </div>
                                <div class="col-auto">
                                    <a href="fitness-workout.html" class="btn btn-sm btn-link">View All<i class="bi bi-chevron-double-right"></i></a>
                                </div>
                            </div>
                            <div class="swiper swipernav mb-3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-gradient-7">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">Complete Morning Yoga Session</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 20 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 250 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-7.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-gradient-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">Workout for belly fat reduce</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 22 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 185 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-8.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-r-gradient">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">The great evening Yoga Session</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 18 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 120 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-3.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-gradient-10">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">Routine Exercise for Legs</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 30 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 300 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-4.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide width-300">
                                        <div class="card adminuiux-card border-0 bg-gradient-6">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h6 class="text-truncated">Complete Morning Yoga Session</h6>
                                                        <p class="text-secondary fs-14 mb-2">
                                                            <span class="me-1"><i class="bi bi-clock me-1"></i> 35 min</span>
                                                            <span class="me-1"><i class="bi bi-fire me-1"></i> 220 kcal</span>
                                                        </p>
                                                        <button class="btn btn-sm btn-link bg-white-opacity"><i class="bi bi-play me-1"></i> Start</button>
                                                    </div>
                                                    <div class="col-4">
                                                        <figure class="height-90 w-100 rounded coverimg mb-0">
                                                            <img src="assets/img/fitness/image-5.jpg" alt="">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </main>
                </div>

                <!-- footer -->
                <%= require('../partials/offcanvas/theming.html').default %>
                    <%= require('../partials/footer/fitness-auth-footer.html').default %>

                        <!-- Page Level js -->

    </body>

</html>