<!DOCTYPE html>
<html lang="en">
    <!-- dir="rtl"-->
    <%= require('../partials/head/head.html').default %>

    <body
        class="main-bg main-bg-opac roundedui adminuiux-header-standard adminuiux-sidebar-standard theme-blue adminuiux-header-transparent adminuiux-sidebar-fill-theme bg-white scrollup"
        data-theme="theme-orange"
        data-sidebarfill="adminuiux-sidebar-fill-theme"
        data-bs-spy="scroll"
        data-bs-target="#list-example"
        data-bs-smooth-scroll="true"
        tabindex="0"
        data-sidebarlayout="adminuiux-sidebar-standard"
        data-headerlayout="adminuiux-header-standard"
        data-headerfill="adminuiux-header-transparent"
        style="overflow-x: hidden"
    >
        <%= require('../partials/pageloader/fitness-pageloader.html').default %> <%=
        require('../partials/header/fitness-header.html').default %>
        <div class="adminuiux-wrap">
            <!-- Standard sidebar -->
            <%= require('../partials/navigation/fitness-sidebar.html').default %>
            <main class="adminuiux-content has-sidebar" onclick="contentClick()">
                <!-- content -->
                <div class="container mt-3" id="main-content">
                    <div class="row gx-3 align-items-center">
                        <!-- userphoto  -->
                        <div class="col-auto mb-4">
                            <figure class="avatar avatar-60 rounded-circle coverimg align-middle">
                                <img src="assets/img/fitness/image-1.jpg" alt="" />
                            </figure>
                        </div>
                        <!-- Welcome section -->
                        <div class="col-9 col-sm-8 col-md-9 col-xl mb-4">
                            <h1 class="fw-bold text-theme-accent-1 mb-0">Olá, <span>Levi Fernando</span></h1>
                            <h4 class="text-theme-1">Tenha um ótimo dia!</h4>
                        </div>
                        <!-- activity summary -->
                        <div class="col-6 col-lg-4 col-xl-auto ms-xl-auto">
                            <div class="card adminuiux-card mb-3">
                                <div class="card-body">
                                    <div class="avatar avatar-50 mx-auto mb-3">
                                        <div id="circleprogressblue1"></div>
                                    </div>
                                    <h6 class="mb-0">Laudo</h6>
                                    <p class="small text-secondary">Progresso</p>
                                </div>
                            </div>
                        </div>
                        <!-- training progress -->
                        <div class="col-6 col-lg-4 col-xl-auto">
                            <div class="card adminuiux-card mb-3">
                                <div class="card-body">
                                    <div class="avatar avatar-50 mx-auto mb-3">
                                        <div id="circleprogressgreen1"></div>
                                    </div>
                                    <h6 class="mb-0">Frequência</h6>
                                    <p class="small text-secondary">Presença Semanal</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Categorias do Laudo -->
                    <div class="swiper swipernav mb-3">
                        <div class="swiper-wrapper">
                            <!-- Saúde -->
                            <div class="swiper-slide width-140">
                                <div class="card adminuiux-card h-100" style="--bs-card-bg: #d2322d">
                                    <div class="card-header" style="height: 60px">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="text-white text-truncate mb-0">Saúde</h6>
                                            </div>
                                            <div class="col-auto">
                                                <i class="bi bi-heart-fill text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-center pt-0">
                                        <div class="avatar avatar-100 mx-auto position-relative">
                                            <div id="circleprogressred1"></div>
                                            <div class="position-absolute top-0 start-0 w-100 h-100">
                                                <div class="row align-items-center justify-content-center h-100">
                                                    <div class="col-auto lh-20">
                                                        <h4 class="h4 mb-0 text-white">85</h4>
                                                        <p class="small text-white">Pontos</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Talento Esportivo -->
                            <div class="swiper-slide width-170">
                                <div class="card adminuiux-card h-100" style="--bs-card-bg: #ed9c28">
                                    <div class="card-header" style="height: 60px">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="text-white text-truncate mb-0">Talento Esportivo</h6>
                                            </div>
                                            <div class="col-auto">
                                                <i class="bi bi-trophy text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-center pt-0">
                                        <div class="avatar avatar-100 mx-auto position-relative">
                                            <div id="circleprogressorange2"></div>
                                            <div class="position-absolute top-0 start-0 w-100 h-100">
                                                <div class="row align-items-center justify-content-center h-100">
                                                    <div class="col-auto lh-20">
                                                        <h4 class="h4 mb-0 text-white">76</h4>
                                                        <p class="small text-white">Pontos</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Consumo Alimentar -->
                            <div class="swiper-slide width-180">
                                <div class="card adminuiux-card h-100" style="--bs-card-bg: #47a447">
                                    <div class="card-header" style="height: 60px">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="text-white text-truncate mb-0">Consumo Alimentar</h6>
                                            </div>
                                            <div class="col-auto">
                                                <i class="bi bi-cup-hot text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-center pt-0">
                                        <div class="avatar avatar-100 mx-auto position-relative">
                                            <div id="circleprogressgreen3"></div>
                                            <div class="position-absolute top-0 start-0 w-100 h-100">
                                                <div class="row align-items-center justify-content-center h-100">
                                                    <div class="col-auto lh-20">
                                                        <h4 class="h4 mb-0 text-white">92</h4>
                                                        <p class="small text-white">Pontos</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Saúde Bucal -->
                            <div class="swiper-slide width-140">
                                <div class="card adminuiux-card h-100" style="--bs-card-bg: #5bc0de">
                                    <div class="card-header" style="height: 60px">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="text-white text-truncate mb-0">Saúde Bucal</h6>
                                            </div>
                                            <div class="col-auto">
                                                <i class="bi bi-bandaid text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-center pt-0">
                                        <div class="avatar avatar-100 mx-auto position-relative">
                                            <div id="circleprogressblue2"></div>
                                            <div class="position-absolute top-0 start-0 w-100 h-100">
                                                <div class="row align-items-center justify-content-center h-100">
                                                    <div class="col-auto lh-20">
                                                        <h4 class="h4 mb-0 text-white">65</h4>
                                                        <p class="small text-white">Pontos</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Qualidade de Vida -->
                            <div class="swiper-slide width-170">
                                <div class="card adminuiux-card h-100" style="--bs-card-bg: #00a4a9">
                                    <div class="card-header" style="height: 60px">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="text-white text-truncate mb-0">Qualidade de Vida</h6>
                                            </div>
                                            <div class="col-auto">
                                                <i class="bi bi-hand-thumbs-up text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-center pt-0">
                                        <div class="avatar avatar-100 mx-auto position-relative">
                                            <div id="circleprogressteal1"></div>
                                            <div class="position-absolute top-0 start-0 w-100 h-100">
                                                <div class="row align-items-center justify-content-center h-100">
                                                    <div class="col-auto lh-20">
                                                        <h4 class="h4 mb-0 text-white">78</h4>
                                                        <p class="small text-white">Pontos</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Vocacional -->
                            <div class="swiper-slide width-140">
                                <div class="card adminuiux-card h-100" style="--bs-card-bg: #9c27b0">
                                    <div class="card-header" style="height: 60px">
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="text-white text-truncate mb-0">Vocacional</h6>
                                            </div>
                                            <div class="col-auto">
                                                <i class="bi bi-star text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-center pt-0">
                                        <div class="avatar avatar-100 mx-auto position-relative">
                                            <div id="circleprogresspurple2"></div>
                                            <div class="position-absolute top-0 start-0 w-100 h-100">
                                                <div class="row align-items-center justify-content-center h-100">
                                                    <div class="col-auto lh-20">
                                                        <h4 class="h4 mb-0 text-white">88</h4>
                                                        <p class="small text-white">Pontos</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Score DNA -->
                    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
                        <div
                            class="card adminuiux-card border-0 position-relative border-0 overflow-hidden blur-overlay mb-3"
                        >
                            <div class="position-absolute top-0 start-0 h-100 w-100 coverimg opacity-75 z-index-0">
                                <img src="assets/img/fitness/image-1.jpg" alt="" />
                            </div>
                            <div class="card-header z-index-1">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6>Score DNA</h6>
                                    </div>
                                    <div class="col-auto">
                                        <span class="badge badge-light text-bg-theme-1 theme-blue">
                                            <span class="bi bi-award text-theme-1"></span> Score bom!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body py-0 z-index-1">
                                <div class="height-170 text-center position-relative mb-3">
                                    <div
                                        class="position-absolute top-50 start-50 translate-middle z-index-1 bg-white rounded-circle p-1"
                                    >
                                        <figure
                                            class="avatar avatar-120 rounded-circle coverimg align-middle shadow-sm"
                                        >
                                            <div
                                                class="d-flex flex-column align-items-center justify-content-center h-100"
                                            >
                                                <h2 class="mb-0 fw-bold" id="score-dna-total">484</h2>
                                                <h2 class="mb-0 small" id="score-dna-label">Score</h2>
                                            </div>
                                        </figure>
                                    </div>
                                    <canvas id="doughnutchart" class="position-relative z-index-0 mx-auto"></canvas>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-lg-6 mb-3">
                                        <p class="small text-nowrap">
                                            <span
                                                class="me-1 avatar avatar-20 rounded"
                                                style="background-color: #d2322d"
                                            ></span>
                                            Saúde
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-6 mb-3">
                                        <p class="small">
                                            <span
                                                class="me-1 avatar avatar-20 rounded"
                                                style="background-color: #ed9c28"
                                            ></span>
                                            Talento Esportivo
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-6 mb-3">
                                        <p class="small">
                                            <span
                                                class="me-1 avatar avatar-20 rounded"
                                                style="background-color: #47a447"
                                            ></span>
                                            Cons. Alimentar
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-6 mb-3">
                                        <p class="small">
                                            <span
                                                class="me-1 avatar avatar-20 rounded"
                                                style="background-color: #5bc0de"
                                            ></span>
                                            Saúde Bucal
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-6 mb-3">
                                        <p class="small">
                                            <span
                                                class="me-1 avatar avatar-20 rounded"
                                                style="background-color: #00a4a9"
                                            ></span>
                                            Qualidade de Vida
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-6 mb-3">
                                        <p class="small">
                                            <span
                                                class="me-1 avatar avatar-20 rounded"
                                                style="background-color: #9c27b0"
                                            ></span>
                                            Vocacional
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cursos Recomendados -->
                    <div class="row gx-3 align-items-center mb-3 ms-1">
                        <div class="col">
                            <h6>Cursos Recomendados</h6>
                        </div>
                        <div class="col-auto">
                            <a href="fitness-laudos.html" class="btn btn-sm btn-link"
                                >Ver Todos<i class="bi bi-chevron-double-right"></i
                            ></a>
                        </div>
                    </div>
                    <div class="swiper swipernav mb-3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide width-300">
                                <div class="card adminuiux-card border-0 bg-gradient-7">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <h6 class="text-truncated">Nome do Curso</h6>
                                                <p class="text-secondary fs-14 mb-2">
                                                    <span class="me-1"><i class="bi bi-clock me-1"></i> 4 Horas</span>
                                                </p>
                                                <button class="btn btn-sm btn-link bg-white-opacity">
                                                    <i class="bi bi-play me-1"></i> Iniciar
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <figure class="height-90 w-100 rounded coverimg mb-0">
                                                    <img src="assets/img/fitness/image-7.jpg" alt="" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide width-300">
                                <div class="card adminuiux-card border-0 bg-gradient-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <h6 class="text-truncated">Nome do Curso</h6>
                                                <p class="text-secondary fs-14 mb-2">
                                                    <span class="me-1"><i class="bi bi-clock me-1"></i> 2 Horas</span>
                                                </p>
                                                <button class="btn btn-sm btn-link bg-white-opacity">
                                                    <i class="bi bi-play me-1"></i> Iniciar
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <figure class="height-90 w-100 rounded coverimg mb-0">
                                                    <img src="assets/img/fitness/image-8.jpg" alt="" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide width-300">
                                <div class="card adminuiux-card border-0 bg-r-gradient">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <h6 class="text-truncated">Nome do Curso</h6>
                                                <p class="text-secondary fs-14 mb-2">
                                                    <span class="me-1"><i class="bi bi-clock me-1"></i> 3 Horas</span>
                                                </p>
                                                <button class="btn btn-sm btn-link bg-white-opacity">
                                                    <i class="bi bi-play me-1"></i> Iniciar
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <figure class="height-90 w-100 rounded coverimg mb-0">
                                                    <img src="assets/img/fitness/image-3.jpg" alt="" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Análise de Desempenho -->
                    <div class="col-12 col-md-6 col-xl-8 col-xxl-9">
                        <div class="card adminuiux-card mb-3">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6>Análise de Desempenho</h6>
                                    </div>
                                    <div class="col-auto">
                                        <div class="btn-group" role="group" aria-label="Período de análise">
                                            <button
                                                type="button"
                                                class="btn btn-sm btn-outline-primary active"
                                                data-period="daily"
                                            >
                                                Dia
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-sm btn-outline-primary"
                                                data-period="weekly"
                                            >
                                                Semana
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-sm btn-outline-primary"
                                                data-period="monthly"
                                            >
                                                Mês
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="height-180">
                                    <canvas id="summarychart"></canvas>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <h5 class="mb-0" id="media-nota">8.00</h5>
                                        <p class="text-secondary small">Média de notas</p>
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-0" id="modalidades">5</h5>
                                        <p class="text-secondary small">Modalidades Praticadas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Calendário DNA -->
                    <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
                        <div class="card adminuiux-card mb-3 h-100">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6>Calendário DNA</h6>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-sm btn-outline-primary" id="hoje-btn">Hoje</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <!-- dates carousel -->
                                <div class="swiper swipernav dateselect mb-3">
                                    <div class="swiper-wrapper" id="dias-semana">
                                        <div class="swiper-slide text-center pt-1" data-date="2025-05-05">
                                            <p class="small text-secondary text-uppercase text-truncated mb-0">Seg</p>
                                            <div class="avatar avatar-30 rounded">5</div>
                                        </div>
                                        <div class="swiper-slide text-center pt-1" data-date="2025-05-06">
                                            <p class="small text-secondary text-uppercase text-truncated mb-0">Ter</p>
                                            <div class="avatar avatar-30 rounded">6</div>
                                        </div>
                                        <div class="swiper-slide text-center pt-1 active" data-date="2025-05-07">
                                            <p class="small text-secondary text-uppercase text-truncated mb-0">Qua</p>
                                            <div class="avatar avatar-30 rounded">7</div>
                                        </div>
                                        <div class="swiper-slide text-center pt-1" data-date="2025-05-08">
                                            <p class="small text-secondary text-uppercase text-truncated mb-0">Qui</p>
                                            <div class="avatar avatar-30 rounded">8</div>
                                        </div>
                                        <div class="swiper-slide text-center pt-1" data-date="2025-05-09">
                                            <p class="small text-secondary text-uppercase text-truncated mb-0">Sex</p>
                                            <div class="avatar avatar-30 rounded">9</div>
                                        </div>
                                        <div class="swiper-slide text-center pt-1" data-date="2025-05-10">
                                            <p class="small text-secondary text-uppercase text-truncated mb-0">Sáb</p>
                                            <div class="avatar avatar-30 rounded">10</div>
                                        </div>
                                        <div class="swiper-slide text-center pt-1" data-date="2025-05-11">
                                            <p class="small text-secondary text-uppercase text-truncated mb-0">Dom</p>
                                            <div class="avatar avatar-30 rounded">11</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" id="eventos-container">
                                <!-- Os eventos serão carregados dinamicamente -->
                                <div
                                    class="d-flex align-items-center justify-content-center py-3"
                                    id="sem-eventos"
                                    style="display: none !important"
                                >
                                    <p class="text-secondary mb-0">Sem atividades para este dia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- mobile footer -->
        <%= require('../partials/footer/mobile-footer.html').default %>

        <!-- Page Level js -->
        <script src="assets/js/fitness/fitness-dashboard.js"></script>
        <script src="assets/js/fitness/calendario-dna.js"></script>
    </body>
</html>
