<!DOCTYPE html>
<html lang="en">
<!-- dir="rtl"-->
<%= require('../partials/head/head.html').default %>

    <body class="main-bg main-bg-opac roundedui adminuiux-header-standard adminuiux-sidebar-standard theme-orange adminuiux-header-transparent adminuiux-sidebar-fill-theme bg-white scrollup" data-theme="theme-orange" data-sidebarfill="adminuiux-sidebar-fill-theme" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" data-sidebarlayout="adminuiux-sidebar-standard" data-headerlayout="adminuiux-header-standard" data-headerfill="adminuiux-header-transparent">
        <%= require('../partials/pageloader/fitness-pageloader.html').default %>
            <!-- back button header with title -->
            <%= require('../partials/header/fitness-header-back.html').default %>
                <div id="title" class="d-none">
                    <%= htmlWebpackPlugin.options.title %>
                </div>
                <div class="adminuiux-wrap">
                    <!-- Standard sidebar -->
                    <main class="adminuiux-content" onclick="contentClick()">
                        <!-- body content of pages -->
                        <div class="container mt-3" id="main-content">
                            <h1 class="fw-bold text-theme-accent-1 mb-0">Get in touch with us</h1>
                            <h4 class="text-theme-1">We will be happy to help you!</h4>
                            <p class="small text-secondary mb-3">Contact us now, we will be back to you as soon as possible</p>
                            <div class="row gx-3">
                                <div class="col-12 col-lg-12 mb-2">
                                    <div class="form-group mb-3 position-relative check-valid">
                                        <div class="input-group input-group-lg"><span class="input-group-text text-theme-1"><i class="bi bi-person"></i></span>
                                            <div class="form-floating"><input placeholder="First Name" value="Max" required="" class="form-control"> <label>First Name</label></div>
                                            <div class="form-floating"><input placeholder="Last Name" value="Johnson" required="" class="form-control"> <label>last Name</label></div>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback mb-3">Add valid data</div>
                                </div>
                                <div class="col-12 col-md-12 mb-2">
                                    <div class="form-group mb-3 position-relative">
                                        <div class="input-group input-group-lg"><span class="input-group-text text-theme-1"><i class="bi bi-envelope"></i></span>
                                            <div class="form-floating"><input type="email" placeholder="Email Address" required="" class="form-control"> <label>Email Address</label></div>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback mb-3">Add valid data</div>
                                </div>
                                <div class="col-12 col-lg-12 mb-2">
                                    <div class="form-group mb-3 position-relative">
                                        <div class="input-group input-group-lg"><span class="input-group-text text-theme-1"><i class="bi bi-question-circle"></i></span>
                                            <div class="form-floating"><input placeholder="Subject" value="Johnson" required="" class="form-control"> <label>Subject</label></div>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback mb-3">Add valid data</div>
                                </div>
                                <div class="col-12 col-md-12 mb-2">
                                    <div class="form-group mb-3 position-relative check-valid">
                                        <div class="input-group input-group-lg"><span class="input-group-text text-theme-1"><i class="bi bi-chat-right-text"></i></span>
                                            <div class="form-floating"><textarea placeholder="Message" class="form-control h-auto" rows="4"></textarea> <label>Message</label></div>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback mb-3">Add valid data</div>
                                </div>
                            </div>
                            <div class="text-center"><button type="button" class="btn btn-lg w-100 btn-theme">Submit Message</button></div>

                        </div>
                    </main>
                </div>
                <!-- page footer -->
                <%= require('../partials/footer/fitness-footer.html').default %>
                    <%= require('../partials/offcanvas/theming.html').default %>

                        <!-- Page Level js -->
    </body>

</html>