<!-- Standard sidebar -->
<div class="adminuiux-sidebar shadow-sm">
    <div class="adminuiux-sidebar-inner d-flex flex-column">
        <ul class="nav flex-column menu-active-line mt-3">
            <!-- fitness sidebar -->
            <li class="nav-item">
                <a href="fitness-dashboard-aluno.html" class="nav-link">
                    <i class="menu-icon bi bi-columns-gap"></i>
                    <span class="menu-name">Painel Geral</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="javascrit:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="menu-icon bi bi-mortarboard"></i>
                    <span class="menu-name">Educacional</span>
                </a>
                <div class="dropdown-menu">
                    <div class="nav-item">
                        <a href="fitness-club.html" class="nav-link">
                            <i class="menu-icon bi bi-journal-text"></i>
                            <span class="menu-name">Minha Carteirinha</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="fitness-club.html" class="nav-link">
                            <i class="menu-icon bi bi-journal-text"></i>
                            <span class="menu-name">Histórico de Avaliações</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="fitness-club-trainers.html" class="nav-link">
                            <i class="menu-icon bi bi-person-badge"></i>
                            <span class="menu-name">Buscar Especialistas</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="fitness-club-all.html" class="nav-link">
                            <i class="menu-icon bi bi-file-earmark-check"></i>
                            <span class="menu-name">Laudos completos</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="fitness-calendar.html" class="nav-link">
                    <i class="menu-icon bi bi-calendar2-range"></i>
                    <span class="menu-name">Calendário de Eventos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="fitness-referral.html" class="nav-link">
                    <i class="menu-icon bi bi-people"></i>
                    <span class="menu-name">Rede de Contatos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="fitness-settings.html" class="nav-link">
                    <i class="menu-icon" data-feather="settings"></i>
                    <span class="menu-name">Configurações</span>
                </a>
            </li>
        </ul>

        <div class="mt-auto"></div>
        <!-- teacher -->
        <ul class="nav flex-column menu-active-line mb-2">
            <li class="nav-item">
                <a href="fitness-chat-and-call.html" class="nav-link">
                    <div class="col-auto">
                        <div class="avatar avatar-30 coverimg rounded d-block align-top">
                            <img src="assets/img/modern-ai-image/user-3.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col px-2 menu-name text-start not-iconic">
                        <!-- limit name character-->
                        <p class="mb-0 fs-14 lh-20">Levi Fernando <br /><small class="opacity-50">Aluno</small></p>
                    </div>
                    <div class="col-auto not-iconic">
                        <i class="bi bi-chat-dots"></i>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
